<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pharmacy{% endblock %}</title>
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'pharmacy/style.css'%}"/>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{%url 'pharmacy:index' %}">PHARMACY</a>
        </div>
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{%url 'pharmacy:products'%}">
                        <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                        &nbsp;
                        All products
                    </a>
                </li>
                <li class="">
                      <a href="#">
                        <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
                        &nbsp;
                        Promotions
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="get" action="#">
                <div class="form-group">
                    <input type="text" class="form-control" name="query" value="">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if has_add_product_permission %}
                <li class="">
                      <a href="{% url 'pharmacy:add_product' %}">
                        <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                        &nbsp;
                        Add product
                    </a>
                </li>
                {% endif %}
                {% if has_add_basket_permission and has_change_basket_permission and has_delete_basket_permission %}
                <li class="">
                      <a href="{% url 'pharmacy:basket' %}">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                        &nbsp;
                        Basket
                    </a>
                </li>
                {% endif %}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Account&nbsp;
                            <span class="glyphicon glyphicon-user pull-right"></span>
                            <span class="glyphicon glyphicon-menu-down pull-right"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    Account
                                    &nbsp;
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Order history
                                    &nbsp;
                                    <span class="glyphicon glyphicon-stats"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Order in execution
                                    &nbsp;
                                    <span class="badge">1</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'pharmacy:logout' %}">
                                    Sign Out
                                    &nbsp;
                                    <span class="glyphicon glyphicon-log-out turn-off"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>


