{% extends 'pharmacy/base.html' %}

{% block body %}
    {% if price and number %}
        <h4>Number: {{ number }}</h4>
        <h4>Price: {{ price }} </h4>
        <form action="{%url 'pharmacy:add_pay'%}" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="number" value="{{number}}" />
            <button type="submit" class="btn btn-default btn-sm" name="add_pay">
                Pay
            </button>
        </form>
    {% endif %}
{% endblock %}