{% extends 'pharmacy/base.html' %}
{% block title %}Products{% endblock %}

{% block body %}
    {% if error_Message %}
        <p><strong> You are not loged in </strong></p>
    {% endif %}
    {% if all_products %}
            {% for product in all_products %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'pharmacy:product_detail' product.id %}" >
                            {% if product.product_logo %}
                                <img src="{{ product.product_logo.url }}" class="img-responsive">
                            {% endif %}
                        </a>
                        <div class="caption">
                            <h4>Name: &nbsp;{{ product.name }}</h4>
                            <h4>Price: &nbsp;{{ product.price }}</h4>
                            <a href="{% url 'pharmacy:product_detail' product.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                            <a href="{% url 'pharmacy:update_product' product.id %}" class="btn btn-primary btn-sm" role="button">Edit</a>
                            <form action="{% url 'pharmacy:delete_product' product.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="album_id" value="{{ album.id }}" />
                            <button type="submit" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
    {% else %}
        <h3>No products to display</h3>
    {% endif %}
{% endblock %}